---
import { getI18N } from '@/i18n'
import { LANGS } from '@/locales'

const { currentLocale } = Astro

const lang = getI18N({ currentLocale })

const { HEADER_LINKS } = lang
---

<header id="header" class="bg-surface-100 p-4">
  <section
    class="container mx-auto flex items-center justify-between max-lg:flex-col max-lg:gap-4"
  >
    <section class="relative flex items-center gap-4 max-md:justify-between">
      <img
        alt="Logo Universidad de Guadalajara"
        src="https://upload.wikimedia.org/wikipedia/commons/5/5f/Escudo_UdeG.svg"
        width="32"
        height="40"
      />

      <h1 class="">Estructuras de datos</h1>

      <span class="menu-opener hidden fas fa-bars fa-xl max-lg:block"></span>

      <ul
        class="activities-menu flex-col hidden absolute bg-surface-200 items-center
          shadow-lg border-2 border-surface-300 gap-2 mt-10
          transition top-4 right-0 rounded-md p-2 z-10"
      >
        {
          HEADER_LINKS.map((link) => {
            return (
              <li>
                <a
                  class="hover:text-primary-100 p-2 transition"
                  href={`${import.meta.env.BASE_URL}/${link.url}`}
                >
                  {link.title}
                </a>
              </li>
            )
          })
        }
        {
          LANGS.map((lang) => {
            if (lang == currentLocale) return

            return (
              <li>
                <a
                  class="text-left w-full hover:bg-primary-300 p-2 rounded-full"
                  href={lang !== 'es' ? `/${lang}` : '/'}
                >
                  <span class="fas fa-earth-americas" />
                  {lang}
                </a>
              </li>
            )
          })
        }
      </ul>
    </section>

    <section class="flex gap-2 items-center max-lg:hidden">
      <ul class="flex list-none gap-1">
        {
          HEADER_LINKS.map((link) => {
            return (
              <li>
                <a
                  class="hover:text-primary-100 p-2 transition"
                  href={link.url}
                >
                  {link.title}
                </a>
              </li>
            )
          })
        }
      </ul>

      <section class="lang-container relative top-0 left-0">
        <button
          class="button px-4 rounded-full hover:bg-primary-200 transition"
        >
          <span class="fas fa-earth-americas"></span>
          {currentLocale}
        </button>

        <section
          class="menu flex-col hidden absolute bg-surface-200 items-center
          rounded-full border border-surface-300 z-10"
        >
          {
            LANGS.map((lang) => {
              if (lang == currentLocale) return

              return (
                <a
                  class="w-full hover:bg-primary-300 p-2 rounded-full"
                  href={lang !== 'es' ? `/${lang}` : '/'}
                >
                  <span class="fas fa-earth-americas" />
                  {lang}
                </a>
              )
            })
          }
        </section>
      </section>
    </section>
  </section>
</header>

<style>
  .lang-container:hover .menu {
    display: flex;
    width: 10rem;
  }
</style>

<script>
  const menuOpener: HTMLElement | null = document.querySelector('.menu-opener')
  const activitiesMenu: HTMLElement | null =
    document.querySelector('.activities-menu')

  let isOpen: boolean = false

  menuOpener?.addEventListener('click', () => {
    isOpen = !isOpen

    if (isOpen) {
      showMenu()
    } else {
      hideMenu()
    }
  })

  document.addEventListener('mousedown', (event: MouseEvent) => {
    const isMenuOpener: boolean = event.target === menuOpener
    const isInsideMenu: boolean =
      activitiesMenu?.contains(event.target as Node) || false

    if (!isMenuOpener && !isInsideMenu) {
      hideMenu()
    }
  })

  function showMenu() {
    activitiesMenu?.classList.remove('hidden')
    activitiesMenu?.classList.add('flex')
  }

  function hideMenu() {
    isOpen = false
    activitiesMenu?.classList.remove('flex')
    activitiesMenu?.classList.add('hidden')
  }
</script>
